.item-list-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px;
    border-style: solid;
    margin-top: 200px;
}

.containerItemList{
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-image: url(../../assets/fondo-peliserie.jpg);
}