.counter{
    width: fit-content;
    background-color: lightyellow;
    margin: auto;
    padding: 1rem;
    text-align: center;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin-top: 10px;
}
.counter button{
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    margin: 0.2rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background-color: rgba(74, 77, 78, 0.568);
}